nav {
  padding: 25px 40px;
  background-color: rgb(160, 199, 250);
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
}

.right {
  display: flex;
  gap: 15px;
  align-items: end;
}

a,
li {
  text-decoration: none;
  color: #000000;
  font-size: 0.95rem;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
